/*=============== BUTTONS ===============*/
.button {
	display: inline-block;
	padding: 0.5rem 0.8rem;
	font-weight: var(--font-semi-bold);
	line-height: 35px;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0px 0px 10px -6px #000;

	&__header {
		display: flex;
		padding: 0.1rem 0.1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	&__header:hover {
		color: inherit;
		opacity: 80%;
	}

	&-link {
		background: none;
		padding: 0;
	}

	&__icon {
		position: relative;
		top: 5px;
		font-size: 25px;
		padding: 0;
	}
	&__flex:hover {
		color: inherit;
	}
	&__google {
		color: rgb(0, 0, 0);
	}
}
