/*=============== HOME ===============*/
.home {
	&__container {
		row-gap: 6rem;
	}
	&__divider {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	&__title {
		font-size: var(--biggest-font-size);
		font-weight: var(--font-bold);
		margin-bottom: var(--mb-0-75);
	}
	&__title:first-child {
		margin-top: 40px;
	}
	&__title-last {
		position: relative;
		bottom: -80px;
	}
	&__description {
		font-size: var(--h3-font-size);
		position: relative;
		bottom: 140px;
	}
	&__description-last {
		width: 100%;
		position: relative;
		bottom: 220px;
	}
	&__text-first {
		position: relative;
		left: 30px;
	}
	&__text-second {
		position: relative;
		bottom: -30px;
		left: 40px;
	}

	&__text-third {
		position: relative;
		top: -80px;
		left: 40px;
	}
	&__text-fourth {
		position: relative;
		left: -140px;
	}
	&__button {
		position: relative;
		top: 280px;
	}
	&__button:hover > a {
		color: rgb(133, 132, 132);
	}
	&__button.short {
		position: relative;
		top: 0px;
	}
	&__button > a {
		position: relative;
		bottom: 160px;
		color: rgb(98, 96, 96);
	}
	&__button > a > i {
		color: rgb(133, 132, 132);
	}

	&__contact__information:first-child.button {
		color: rgb(0, 169, 11);
	}

	&__contact__information:nth-child(2).button {
		color: rgb(0, 174, 255);
	}

	&__contact__information:nth-child(3).button {
		color: rgb(0, 0, 255);
	}

	&__button > a:first-child {
		line-height: -100px;
		margin-right: 20px;
		max-height: 60px;
	}

	&__button a {
		padding: 1rem 1rem;
		padding-top: 0.7rem;
	}

	&__button a i {
		position: relative;
		bottom: -230px;
		line-height: -330px;
	}
	&__button > a:nth-child(2n) {
		margin-left: 20px;
		max-height: 60px;
	}
	&__svg {
		margin: auto;
	}
	&__svg:first-child {
		margin: auto;
	}
	&__contact {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}
	&__contact__information.button {
		margin-bottom: 20px;
	}

	&__contact.large {
		display: flex;
		justify-content: space-between;
	}
	&__contact__img:first-child {
		width: 34px;
		padding: 0.5rem 0.5rem;
		max-height: 40px;
	}

	&__contact__instagram img {
		width: 41px;
		height: 39px;
	}

	&__button__apple {
		width: 74px;
	}
	&__contact a {
		position: relative;
		bottom: 100px;
		margin: auto 10px;

		margin-bottom: 20px;
	}
	&__text {
		display: none;
		bottom: 100px;
		margin: auto 10px;
	}
}
